*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
}
.button {
  all: unset;
  background-color: rgb(255, 223, 105);
  text-align: center;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(255, 187, 0);
}

.show_dont_tell {
  display: flex;
  justify-content: center;
  background-color: rgb(105, 255, 120);
  text-align: center;
  padding: 0.5rem;
  border-radius: 5px;
  max-width: 20rem;
  margin-top: 1rem;
}
.operand1visual {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(255, 165, 105);
  border-radius: 5px;
  max-width: 9rem;
  padding: 0.5rem;
}
.simple-org {
  display: flex;
  padding: 0.2rem;
  justify-content: space-between;
  max-width: 20rem;
}
